<div id="notification" class="page-layout simple fullwidth doc-page" layout="column">

    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="center start">
            <div class="breadcrumb" layout="row" layout-align="start center">
            </div>
            <div class="title">Notifications</div>
        </div>
    </div>

    <div class="content" layout="row" layout-align="end center">
        <md-button class="md-accent md-raised md-warn md-hue-1" ng-click="cancelCreateNotification()" ng-if="!dataTableshow">Cancel</md-button>
        <md-button class="md-accent md-raised md-hue-1" ng-click="openNotificationPanel()">Create Notification</md-button>
    </div>
    <!-- DATA TABLE STARTS HERE-->
    <div id="notification-table" class="page-layout simple fullwidth doc-page element-doc-page">
        <!-- CONTENT -->
        <div class="content">
            <div class="content" layout="column">
                <div class="md-title mb-32">Notifications</div>
            </div>
            <div class="white-bg md-whiteframe-4dp" ng-if="dataTableshow">
                <md-card class="content-card" layout="column" style="margin: 0px;margin-bottom: 2px">
                    <div class="toolbar" layout="row" style="padding-left: 10px">
                        <!--<div layout="row" flex><i class="icon-filter"></i></div>-->
                        <div layout="row" layout-gt-sm="row" layout-align="start center" flex>
                            <div layout-gt-sm="row">
                                <md-input-container md-no-float class="md-block" flex-gt-sm>
                                    <md-icon><i class="icon-tag"></i></md-icon>
                                    <input type="text" name="tags" placeholder="Select Tags">
                                </md-input-container>
                            </div>&nbsp;
                            <md-input-container>
                                <md-datepicker ng-model="data.FromDate" md-placeholder="From date" ng-change="fnTablefilter()" md-hide-icons="calendar"></md-datepicker>
                            </md-input-container>
                            <md-input-container>
                                <md-datepicker ng-model="data.ToDate" md-placeholder="To date" ng-change="fnTablefilter()" md-hide-icons="calendar"></md-datepicker>
                            </md-input-container>
                            <!-- <div layout-gt-md="row">
                                <md-input-container md-no-float class="md-block" flex-gt-sm>
                                    <md-icon><i class="icon-magnify"></i></md-icon>
                                    <input type="text" name="search" placeholder="Search">
                                </md-input-container>
                            </div> -->
                        </div>
                        <span layout="row" layout-align="end center" flex="20">
                                <md-button class="md-accent md-raised md-hue-1">IMPORT</md-button>
                                <md-button class="md-accent md-raised md-hue-1">EXPORT</md-button>
                        </span>
                    </div>
                </md-card>
                <table id="notificationTbl" class="dataTable row-border hover" datatable="ng" dt-options="vm.dtOptions" dt-instance="vm.dtInstance">
                    <thead>
                        <tr>
                            <th class="primary-text">
                                <div class="table-header">
                                    <span class="column-title">Message</span>
                                </div>
                            </th>
                            <th class="primary-text">
                                <div class="table-header">
                                    <span class="column-title">Created Date</span>
                                </div>
                            </th>
                            <th class="primary-text">
                                <div class="table-header">
                                    <span class="column-title">Modified Date</span>
                                </div>
                            </th>
                            <th class="primary-text">
                                <div class="table-header">
                                    <span class="column-title">Get URL</span>
                                </div>
                            </th>
                            <th class="primary-text">
                                <div class="table-header">
                                    <span class="column-title">Show URL</span>
                                </div>
                            </th>
                            <th class="primary-text">
                                <div class="table-header">
                                    <span class="column-title">Status</span>
                                </div>
                            </th>
                            <th class="primary-text">
                                <div class="table-header">
                                    <span class="column-title">View/edit</span>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="notifydata in ::vm.notification">
                          <td>{{ notifydata.noti_message }}</td>
                          <td ng-init="serializeCdate = normalizeDate(notifydata.created_date, true)">{{ serializeCdate }}</td>
                          <td ng-init="serializeMdate = normalizeDate(notifydata.modified_date, true)">{{ serializeMdate }}</td>
                          <td>{{notifydata.get_data_url}}</td>
                          <td>{{notifydata.show_data_url}}</td>
                          <td>
                              <i ng-if="notifydata.status == 'ACTIVE'" class='icon-checkbox-marked-circle green-500-fg'></i>
                              <i ng-if="notifydata.status != 'ACTIVE'" class='icon-cancel red-500-fg'></i>
                          </td>
                          <td>
                            <md-button ng-click='editNotification(notifydata.id)'>
                                <i class='icon-pencil'></i>
                            </md-button>
                          </td>
                      </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- / CONTENT -->
    </div>
    <!-- DATA TALE END HERE -->
    <div id="forms" class="page-layout simple fullwidth doc-page element-doc-page" layout="column">

<!-- Create notification panel starts-->
    <!-- CONTENT -->
    <div class="content" layout="column" ng-if="!dataTableshow">
        <div layout="row">
            <!-- FORM WIZARD -->
            <ms-form-wizard flex>
                <md-tabs md-dynamic-height md-selected="msWizard.selectedIndex" md-center-tabs="true">
                    <md-tab>
                        <md-tab-label>
                            <span class="ms-form-wizard-step-label">
                                <span class="ms-form-wizard-step-number md-accent-bg"
                                      ng-if="wizardStep1.$invalid">1</span>
                                <span class="ms-form-wizard-step-number md-accent-bg" ng-if="wizardStep1.$valid">
                                    <i class="icon-check s16"></i>
                                </span>
                                <span class="ms-form-wizard-step-text">Capture</span>
                            </span>
                        </md-tab-label>

                        <md-tab-body>
                            <form name="wizardStep1" class="md-inline-form" ms-form-wizard-form novalidate>
                                <div layout="column" layout-gt-xs="row" flex>
                                    <md-input-container flex>
                                        <md-chips ng-model="CaptureURL" md-on-add="validateURL($chip, 'Capture')" readonly="false" placeholder="Enter a Capture URL" secondary-placeholder="+URL" md-removable="CaptureURL" required>
                                        </md-chips>
                                        <div role="alert" ng-if="!validCaptureURL">
                                            <div style="padding:5px; color:red; font-size:12px">
                                                <span>That doesn't look like a valid URL.</span>
                                            </div>
                                        </div>
                                    </md-input-container>
                                </div>
                            </form>
                        </md-tab-body>
                    </md-tab>

                    <md-tab ng-disabled="wizardStep1.$invalid">
                        <md-tab-label>
                            <span class="ms-form-wizard-step-label">
                                <span class="ms-form-wizard-step-number md-accent-bg"
                                      ng-if="wizardStep2.$invalid">2</span>
                                <span class="ms-form-wizard-step-number md-accent-bg" ng-if="wizardStep2.$valid">
                                    <i class="icon-check s16"></i>
                                </span>
                                <span class="ms-form-wizard-step-text">Display</span>
                            </span>
                        </md-tab-label>

                        <md-tab-body>
                            <form name="wizardStep2" ms-form-wizard-form novalidate>
                                <div layout="column" layout-gt-xs="row">
                                  <md-input-container flex>
                                      <md-chips ng-model="DisplayURL" md-on-add="validateURL($chip, 'Display')" readonly="false" placeholder="Enter a Display URL" secondary-placeholder="+URL" md-removable="DisplayURL" required>
                                      </md-chips>
                                      <div role="alert" ng-if="!validDisplayURL">
                                          <div style="padding:5px; color:red; font-size:12px">
                                              <span>That doesn't look like a valid URL.</span>
                                          </div>
                                      </div>
                                  </md-input-container>
                                </div>
                            </form>
                        </md-tab-body>
                    </md-tab>

                    <md-tab ng-disabled="wizardStep1.$invalid || wizardStep2.$invalid">
                        <md-tab-label>
                            <span class="ms-form-wizard-step-label">
                                <span class="ms-form-wizard-step-number md-accent-bg"
                                      ng-if="wizardStep3.$invalid">3</span>
                                <span class="ms-form-wizard-step-number md-accent-bg" ng-if="wizardStep3.$valid">
                                    <i class="icon-check s16"></i>
                                </span>
                                <span class="ms-form-wizard-step-text">Type</span>
                            </span>
                        </md-tab-label>
                        <md-tab-body>
                            <form name="wizardStep3" ms-form-wizard-form novalidate>
                                <div layout="column" layout-gt-xs="row">
                                    <md-input-container flex>
                                        <label>Message</label>
                                        <textarea name="Message" ng-model="vm.formWizard.noti_message" rows="6" placeholder="Message"
                                                  required></textarea>
                                        <div ng-messages="wizardStep3.Message.$error"
                                             role="alert" multiple>
                                            <div ng-message="required"><span>You must give Message.</span></div>
                                        </div>
                                    </md-input-container>
                                </div>
                            </form>
                        </md-tab-body>
                    </md-tab>

                    <md-tab ng-disabled="wizardStep1.$invalid || wizardStep2.$invalid || wizardStep3.$invalid">
                        <md-tab-label>
                            <span class="ms-form-wizard-step-label">
                                <span class="ms-form-wizard-step-number md-accent-bg"
                                      ng-if="wizardStep4.$invalid">4</span>
                                <span class="ms-form-wizard-step-number md-accent-bg" ng-if="wizardStep4.$valid">
                                    <i class="icon-check s16"></i>
                                </span>
                                <span class="ms-form-wizard-step-text">Customize</span>
                            </span>
                        </md-tab-label>
                        <md-tab-body>
                            <form name="wizardStep4" ms-form-wizard-form novalidate>
                                <div layout="column" layout-gt-xs="row">
                                    <md-input-container flex>
                                        <label>Tags</label>
                                        <input ng-model="vm.formWizard.Tags" type="text" name="tags" placeholder="Tags" />
                                    </md-input-container>
                                </div>
                                <div layout="column" layout-gt-xs="row">
                                    <md-switch md-invert ng-model="vm.formWizard.mobile_hide_1" aria-label="Show on mobile" ng-change="onChange(vm.formWizard.mobile_hide_1)">Show on Mobile</md-switch>
                                    <md-switch md-invert ng-if="vm.formWizard.mobile_hide_1" ng-model="vm.formWizard.top_on_mobile_2" aria-label="Show on Top of Mobile Devices" ng-change="onChange(vm.formWizard.top_on_mobile_2)">Show on Top of Mobile Devices</md-switch>
                                </div>
                                <div layout="column" layout-gt-xs="row">
                                    <md-switch md-invert ng-model="vm.formWizard.live_user_count_3" aria-label="Live User Count" ng-change="onChange(vm.formWizard.live_user_count_3)">Live User Count</md-switch>&nbsp;&nbsp;&nbsp;&nbsp;
                                    <md-input-container flex ng-if="vm.formWizard.live_user_count_3">
                                        Maximum User to show
                                        <input type="text" ng-model="vm.formWizard.set_max_live_count_4" name="showuser"/>
                                    </md-input-container>
                                    <md-input-container flex ng-if="vm.formWizard.live_user_count_3">
                                        Refer User as
                                        <input type="text" ng-model="vm.formWizard.refer_user_as_5" name="referuser"/>
                                    </md-input-container>
                                </div><br/>
                                <div layout="column" layout-gt-xs="row">
                                    Display Last <input ng-model="vm.formWizard.display_last_6" type="text" class="cstminout" /> Users.
                                </div>
                                <br/><br/>
                                <div layout="column" layout-gt-xs="row">
                                    Display Last <input ng-model="vm.formWizard.display_last_days_7" type="text" class="cstminout" /> days Users.
                                </div>
                                <br/>
                                <div layout="column" layout-gt-xs="row">
                                    <md-switch md-invert ng-model="vm.formWizard.display_most_recent_8" aria-label="Live User Count" ng-change="onChange(vm.formWizard.display_most_recent_8)">Display most Recent</md-switch>
                                </div>
                                <div layout="column" layout-gt-xs="row">
                                    <md-switch md-invert ng-model="vm.formWizard.own_noti_seen_9" aria-label="Live User Count" ng-change="onChange(vm.formWizard.own_noti_seen_9)">See own message</md-switch>
                                </div>
                                <div layout="column" layout-gt-xs="row">
                                    <md-switch md-invert ng-model="vm.formWizard.hide_unknown_10" aria-label="Live User Count" ng-change="onChange(vm.formWizard.hide_unknown_10)">Hide unknown user</md-switch>
                                </div>
                                <br/>
                                <div layout="column" layout-gt-xs="row">
                                    Display Interval <input ng-model="vm.formWizard.display_internal_11" class="cstminout" type="text" width="25px" /> Seconds.
                                </div>
                            </form>
                        </md-tab-body>
                    </md-tab>
                </md-tabs>

                <div class="navigation" flex layout="row" layout-align="center center">
                    <md-button class="md-raised md-accent" ng-click="msWizard.previousStep()"
                               ng-disabled="msWizard.isFirstStep()">
                        Previous
                    </md-button>
                    <div class="steps">
                        <span ng-repeat="form in msWizard.forms"
                              ng-class="{'selected md-accent-bg':msWizard.selectedIndex === $index}"></span>
                    </div>
                    <md-button class="md-raised md-accent" ng-click="msWizard.nextStep()"
                               ng-hide="msWizard.isLastStep()"
                               ng-disabled="msWizard.currentStepInvalid()" ng-if="CaptureURL.length != 0">
                        Next
                    </md-button>
                    <md-button class="md-raised md-warn" ng-click="createNotification($event);"
                               ng-show="msWizard.isLastStep()"
                               ng-disabled="msWizard.formsIncomplete()">
                        Finish
                    </md-button>
                </div>

            </ms-form-wizard>
            <!-- / FORM WIZARD -->
        </div>
    </div>
    <!-- / CONTENT -->
</div>
    <!-- Create notification panel end-->
</div>
