.mrgt0{
    margin-top: 0px !important;
}
.cstminout {
    padding-right: 10px !important;
    padding-left: 10px !important;
    padding-bottom: 0px !important;
    border-bottom: #e0e0e0 1px solid !important;
    width: 50px !important;
}
.cstminout:focus{
    border-bottom: #000 2px solid !important;
}
a:hover{
    cursor: pointer !important;
}
/*.md-datepicker-input {
    height: 52px;
    width: 250px;
}*/
