<!--<div id="settings">-->
<div id="Settings" class="page-layout simple fullwidth doc-page">
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="center start">
            <div class="breadcrumb" layout="row" layout-align="start center">
            </div>
            <div class="title">Settings</div>
        </div>
    </div>
    <div class="page-layout carded fullwidth single-scroll" layout="row">
        <div class="center" layout="column" flex>
            <div class="header">
                <span class="h1 black-fg">Update your Profile!</span>
                <div class="content" layout="row" layout-align="end center">
                  <md-button
                  class="md-accent md-raised md-hue-1"
                  ng-disabled="contactForm.firstname.$invalid ||
                              contactForm.lastname.$invalid ||
                              contactForm.Phone.$invalid ||
                              contactForm.business_name.$invalid ||
                              addressForm.Address.$invalid" 
                  ng-click="updateUserdata()">Update
                </md-button>
                </div>
            </div>
    <!-- CONTACT STARTS-->
            <md-card class="content-card" layout="column">
                <div class="toolbar" layout="row" layout-align="start center">
                    <span>Contact</span>
                </div>
                <!-- CONTACT CONTENT -->
                <md-content class="content" flex>
                  <md-tab-body>
                    <form name="contactForm" novalidate>
                      <div layout="column" layout-gt-xs="row" flex>
                          <md-input-container flex="100" flex-gt-xs="50">
                              <input type="text" name="firstname" ng-model="vm.userData.firstname" placeholder="Firstname" required>
                              <div ng-messages="contactForm.firstname.$error" role="alert" multiple>
                                  <div ng-message="required">
                                      <span>Firstname field is required</span>
                                  </div>
                              </div>
                          </md-input-container>

                          <md-input-container flex="100" flex-gt-xs="50">
                              <input type="text" name="lastname" ng-model="vm.userData.lastname" placeholder="Lastname" required>
                              <div ng-messages="contactForm.lastname.$error" role="alert" multiple>
                                  <div ng-message="required">
                                      <span>Lastname field is required</span>
                                  </div>
                              </div>
                          </md-input-container>

                      </div>
                      <div layout="column" layout-gt-xs="row" flex>
                          <md-input-container flex="100" flex-gt-xs="50" >
                              <input type="tel" name="Phone" ng-model="vm.userData.phone" placeholder="Phone" ng-pattern="/^[0-9]*$/" required>
                              <div ng-messages="contactForm.Phone.$error" role="alert" multiple>
                                  <div ng-message="required">
                                      <span>Phone Number field is required</span>
                                  </div>
                                  <div ng-message="pattern">
                                      <span>Phone Number must be valid !!</span>
                                  </div>
                              </div>
                          </md-input-container>
                          <md-input-container flex="100" flex-gt-xs="50">
                              <input type="text" name="company" ng-model="vm.userData.business_name"placeholder="company" required>
                              <div ng-messages="contactForm.company.$error" role="alert" multiple>
                                  <div ng-message="required">
                                      <span>Company field is required</span>
                                  </div>
                              </div>
                          </md-input-container>
                      </div>
                    </form>
                  </md-tab-body>
                </md-content>
                <!-- / CONTACT CONTENT -->
            </md-card>
    <!-- CONTACT END-->

    <!-- ADDRESS STARTS-->
            <md-card class="content-card" layout="column" flex>
                <div class="toolbar" layout="row" layout-align="start center">
                    <span>Address</span>
                </div>
            <!-- CONTACT CONTENT -->
                <md-content class="content" flex>
                  <md-tab-body>
                    <form name="addressForm" novalidate>
                      <div layout="column" layout-gt-xs="row" flex>
                        <md-input-container flex="100" flex-gt-xs="100">
                            <textarea type="text" rows="6" name="Address" ng-model="vm.userData.address" placeholder="Address" required></textarea>
                            <div ng-messages="addressForm.Address.$error" role="alert" multiple>
                                <div ng-message="required">
                                    <span>Address field is required</span>
                                </div>
                            </div>
                        </md-input-container>
                      </div>
                      <!--
                        <div layout="column" layout-gt-xs="row" flex>
                            <md-input-container flex="100" flex-gt-xs="50">
                                <input type="text" name="Street" ng-model="vm.userData.street" placeholder="Street" required>
                                <div ng-messages="addressForm.Street.$error" role="alert" multiple>
                                    <div ng-message="required">
                                        <span>Street field is required</span>
                                    </div>
                                </div>
                            </md-input-container>

                            <md-input-container flex="100" flex-gt-xs="50">
                                <input type="text" name="City"  ng-model="vm.userData.city" placeholder="City" required>
                                <div ng-messages="addressForm.City.$error" role="alert" multiple>
                                    <div ng-message="required">
                                        <span>City field is required</span>
                                    </div>
                                </div>
                            </md-input-container>
                        </div>
                        <div layout="column" layout-gt-xs="row" flex>
                            <md-input-container flex="100" flex-gt-xs="50" >
                                <input type="text" name="State" ng-model="vm.userData.state" placeholder="State" required>
                                <div ng-messages="addressForm.State.$error" role="alert" multiple>
                                    <div ng-message="required">
                                        <span>State field is required</span>
                                    </div>
                                </div>
                            </md-input-container>
                            <md-input-container flex="100" flex-gt-xs="50">
                                <input type="text" name="Zipcode" ng-model="vm.userData.zipcode" placeholder="Zipcode" required>
                                <div ng-messages="addressForm.Zipcode.$error" role="alert" multiple>
                                    <div ng-message="required">
                                        <span>Zipcode field is required</span>
                                    </div>
                                </div>
                            </md-input-container>
                        </div>
                        <div layout="column" layout-gt-xs="row" flex>
                            <md-input-container flex="100" flex-gt-xs="100" >
                                <input type="text" name="Country" ng-model="vm.userData.country" placeholder="Country">
                                <div ng-messages="addressForm.Country.$error" role="alert" multiple>
                                    <div ng-message="required">
                                        <span>Country field is required</span>
                                    </div>
                                </div>
                            </md-input-container>
                        </div>-->
                      </form>
                  </md-tab-body>
                </md-content>
            <!-- CONTACT CONTENT -->
            </md-card>
    <!-- ADDRESS END-->
        </div>
    </div>

    <div class="page-layout carded fullwidth single-scroll" layout="row">
        <div class="center" layout="column" flex>
            <div class="header">
                <span class="h1 black-fg">Your Plan</span>
            </div>

            <!-- PLAN STARTS-->
            <md-card class="content-card" layout="column">
                <div class="toolbar" layout="row">
                    <span layout="row" layout-align="start center" flex="55">PLAN</span>
                    <span layout="row" layout-align="end center" flex-offset="55">
                        <md-button class="md-accent md-raised md-hue-1" ng-click="changePlan()">Change Plan</md-button>
                    </span>
                </div>
                <!-- PLAN CONTENT -->
                <div class="toolbar" layout="row">
                    <h3>Your Trail Ends a month ago..</h3>
                </div>
                <div class="toolbar" layout="row">
                    <h3>PREMIUM</h3>
                    <span layout="row" layout-align="end center" flex-offset="55">$199/mon</span>
                </div>
                <md-divider></md-divider>
            </md-card>

            <md-card class="content-card" layout="column">
                <div class="toolbar" layout="row">
                    <span layout="row" layout-align="start center" flex="55">Unique Visitors In This Biilling Period</span>
                </div>
                <div layout="column" layout-align="center stretch" style="padding-top: 10px; padding-left: 20px;padding-right: 20px;">
                    <md-input-container>
                        <md-progress-linear md-mode="determinate" value="25"></md-progress-linear>
                    </md-input-container>
                </div>
                <div layout="row" layout-align="space-between center" style="padding: 20px; padding-top: 0px;">
                    <div>
                        <h1>92</h1>
                        <h3>Unique Visitors Tracked</h3>
                    </div>
                    <div>
                        <h1>10%</h1>
                        <h3>Used</h3>
                    </div>
                    <div>
                        <h1>90000</h1>
                        <h3>Unique Visitors Alotted</h3>
                    </div>
                </div>
                <!-- / PLAN CONTENT -->
            </md-card>
    <!-- PLAN END-->
        </div>
    </div>

    <div class="page-layout carded fullwidth single-scroll" layout="row">
        <div class="center" layout="column" flex>
            <div class="header">
                <span class="h1 black-fg">Billing</span>
            </div>

            <!-- PAYMENT STARTS-->
            <md-card class="content-card" layout="column">
                <div class="toolbar" layout="row">
                    <span layout="row" layout-align="start center" flex="85">Payment Info</span>
                    <span layout="row" layout-align="end center" flex="15">
                        <md-button class="md-accent md-raised md-hue-1" ng-click="addpayment($event)">
                            <md-icon><i class="icon-pencil"></i></md-icon>
                        </md-button>
                    </span>
                </div>
                <!-- PAYMENT CONTENT -->
                <md-content class="content" flex ng-if="1!=1">
                    <div layout="column" layout-gt-xs="row" flex>
                        <p>You have no cards.</p>
                    </div>
                </md-content>
                <md-content>
                    <div flex-xs flex-gt-xs="50" layout="column">
                        <md-card class="content-card">
                            <md-card-title>
                                <md-card-title-text>
                                    <span class="md-headline">XXXX XXXX XXXX 5412</span>
                                    <span class="md-subhead">01/20</span>
                                </md-card-title-text>
                            </md-card-title>
                        </md-card>
                    </div>
                </md-content>
                <md-content>
                    <div flex-xs flex-gt-xs="50" layout="column">
                        <md-card class="content-card">
                            <md-card-title>
                                <md-card-title-text>
                                    <span class="md-headline">XXXX XXXX XXXX 8919</span>
                                    <span class="md-subhead">21/22</span>
                                </md-card-title-text>
                            </md-card-title>
                        </md-card>
                    </div>
                </md-content>
                <!-- / PAYMENT CONTENT -->
            </md-card>
    <!-- PAYMENT END-->
        </div>
    </div>
<!--</div>-->
</div>
