<md-dialog aria-label="addpaymentModal" style="width: 30%">
    <form id="myCCForm" method="post" ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Update Your Card</h2><span flex></span>
            </div>
        </md-toolbar>

        <md-dialog-content ms-scroll>
            <div class="md-dialog-content">
                <div layout="column" layout-gt-xs="row" flex>
                    <md-input-container flex="100" flex-gt-xs="100">
                        <input ng-model="cardData.ccNo" md-maxlength="12" type="text" name="ccNo" placeholder="Card Number" required>
                    </md-input-container>
                </div>
                <!-- <div layout="column" layout-gt-xs="row" flex>
                    <md-input-container flex="100" flex-gt-xs="100">
                        <input ng-model="cardData.Name" type="text" name="name" placeholder="Name" required>
                    </md-input-container>
                </div> -->
                <div layout="column" layout-gt-xs="row" flex>
                    <md-input-container flex="100" flex-gt-xs="20" >
                        <input type="text" ng-model="cardData.expMonth" md-maxlength="2" name="expMonth" placeholder="MM" required>
                    </md-input-container>
                    <md-input-container flex="100" flex-gt-xs="20" >
                        <input type="text" ng-model="cardData.expYear" md-maxlength="4" name="expYear" placeholder="YY" required>
                    </md-input-container>
                    <span flex="100" flex-gt-xs="20" flex-offset-gt-xs="10"></span>
                    <md-input-container flex="100" flex-gt-xs="30" >
                        <input type="text" ng-model="cardData.cvv" md-maxlength="3" name="cvv" placeholder="CVV" required>
                    </md-input-container>
                </div>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="cancel()">Cancel</md-button>
            <md-button ng-click="makepayment()" class="md-accent md-raised md-hue-1">Proceed</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
